/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 30, 2018, 12:13:47 PM
    Author     : Mary
*/

.home-slider {
    
}

.home-shop {
    
    .wrap {
        
        display:flex;
        justify-content: center;
        
        .widget {
         
            justify-content: center;
            padding:15px;
            
            img {
             
                border:4px solid #fff;
                transition: ease 0.2s all;
                
            }
            
            a:hover img,
                a:focus  img{
                    transform: scale(1.1);
            }
            
        }
        
    }
    
}

.home .content-sidebar-wrap {
    
    display:flex;
    max-width: 1140px;
    margin:20px auto;
    background-color:#ffffff;
}
.home-blog {
    margin:20px;
    
    
}
.home-sidebar {
    margin:20px;
    
    
}

.home-about {
    
    max-width: 1140px;
    margin:40px auto 20px;
    
    .textwidget {
        
        display:flex;
        align-items:center;
        
    }
    
    .abouttext {
        
        margin-left:30px;
        
        h4 {
            
            background-color:$purple;
            padding:10px 20px;
            color:#fff;
            text-transform:uppercase;
            font-weight:700;
            margin-bottom:0px;
        }
        
        p {
            padding: 20px;
            background-color:#fff;
        }
        
    }
    
    img {
        
        max-width:250px;
        border-radius:50%;
        border:4px solid #fff;
        
    }
    
}

.home-optin {
    
    max-width: 1140px;
    margin:20px auto;
    
}