/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 30, 2018, 12:13:47 PM
    Author     : Mary
*/

.home-slider {
    max-width:1200px;
    margin: 30px auto 0px;
    
    .widget {
        margin-bottom:0px;
    }
    
    .flexslider .slides > li {
        margin-bottom:0px;
    }
    img {
        min-width:1200px;
    }
    #genesis-responsive-slider {
        padding:0px;
        border:5px solid #fff;
    }
    .slide-excerpt {
        height:320px;
        opacity:1;
    }
    .slide-excerpt-border {
        border:0px;
        margin:0px;
        padding:0px;
        position:static;
        
        h2 {
            @include titlebar;
            font-size:20px;
            a,
            a:hover,
                a:focus{
                color:white;
                text-decoration:none;
            }
        }
        p {
            padding: 0px 20px 20px;
        }
        .slider-button {
            
            text-align:right;
            padding-right:20px;
            padding-bottom:10px;
            color:$purple;
            text-decoration:none;
            width:100%;
            display:inline-block;
            position:absolute;
            bottom:0px;
            font-weight:700;
                
            
            
        }
       
    }
    .flex-control-nav a {
        height:11px;
    }
    .flex-control-nav a.flex-active {
        box-shadow:0 11px rgba(0,0,0,.2) inset;
        border-radius:50%;
    }
    
}

.home-shop {
    
    .wrap {
        
        display:flex;
        justify-content: center;
        
        .widget {
         
            justify-content: center;
            padding:15px;
            margin-bottom:0px;
            
            img {
             
                border:5px solid #fff;
                transition: ease 0.2s all;
                
            }
            
            a:hover img,
                a:focus  img{
                    transform: scale(1.1);
            }
            
        }
        
    }
    
}

.home .content-sidebar-wrap {
    
    display:flex;
    max-width: 1200px;
    margin:20px auto;

}
.home-blog {
    margin:20px;
    background-color:#fff;
    
    .rss-widget-icon {
        display:none;
    }
    
    .widget-title {
        @include titlebar;
    }
    ul {
        padding:0px 20px;
        
        a.rsswidget {
            color:$green;
            font-weight:700;
            text-transform:uppercase;
        }
        .rss-date {
            float:right;
            font-size:14px;
            text-transform:uppercase;
            line-height:200%;
            font-style:italic;
            
        }
        li {
            margin-bottom:20px;
        }
    }
    
}
.home-sidebar {
    margin:20px;
    background-color: #fff;
    
    .widget-title {
        @include titlebar;
    }
    
    .textwidget {
        padding:0px 20px;
        
        h3.sbi_no_bio {
            color:$purple;
            font-weight:700;
        }
        #sb_instagram .sbi_follow_btn a {
            background-color:$purple;
        }
        #sb_instagram .sbi_follow_btn a:hover,
        #sb_instagram .sbi_follow_btn a:focus {
            background-color:$purple;
            text-decoration:underline;
            box-shadow: none;
        }
    }
}

.home-about {
    
    max-width: 1200px;
    margin:20px auto;
    
    .widget {
        margin-bottom:0px;
    }
    
    .textwidget {
        
        display:flex;
        align-items:center;
        
    }
    
    .abouttext {
        
        margin-left:30px;
        
        h4 {
            @include titlebar;
            margin-bottom:0px;
        }
        
        p {
            padding: 20px;
            background-color:#fff;
        }
        
    }
    
    img {
        
        max-width:250px;
        border-radius:50%;
        border:4px solid #fff;
        
    }
    img.mobile, br {
        display:none;
    }
    
}

.home-optin {
    
    max-width: 1200px;
    margin:20px auto 40px;
    background-color:#fff;
    
    .widget-title {
        @include titlebar;
    }
    
    p, form {
        padding:0px 20px;
    }
    
    form {
        display:flex;
    }
    
}


@media only screen and (max-width: 426px) {
    .home-slider {
        
        margin-top:0px;
        
        .slide-excerpt {
            height:auto;
            width:100%;
            margin:0px;
            left:0;
            bottom:0;
            top:initial;
            
            p,
            a.slider-button {
                display:none;
            }
            .slide-excerpt-border {
                width:100%;
                text-align:center;
                
                
                h2 {
                    margin-bottom:0px;
                }
            }
            
        }
        .slide-image {
                max-height:250px;
            }
    }
    
    
    .home-shop {
        .wrap {
            flex-wrap:wrap;
            
            .widget {
                flex:1 0 50%;
            }
        }
    }
    
    .home .content-sidebar-wrap {
        display:block;
    }
    .home-blog {
        margin:20px 0px;
    }
    .home-about {
        
        margin:20px;
        .abouttext {
            margin-left:0px;
        }
        
        img.desktop {
            display:none;
        }
        img.mobile {
            display:inline-block;
            display: inline-block;
            max-width: 170px;
            float: left;
            margin-right: 15px;
        }
    }
    .home-optin {
        margin:20px;
    }
    
}