/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 30, 2018, 12:13:47 PM
    Author     : Mary
*/

.home-slider {
    max-width:1200px;
    margin: 30px auto 0px;
    
    .widget {
        margin-bottom:0px;
    }
    
    .flexslider .slides > li {
        margin-bottom:0px;
    }
    img {
        min-width:1200px;
    }
    #genesis-responsive-slider {
        padding:0px;
        border:5px solid #fff;
    }
    .slide-excerpt {
        height:320px;
    }
    .slide-excerpt-border {
        border:0px;
        margin:0px;
        padding:0px;
        position:static;
        
        h2 {
            @include titlebar;
            font-size:20px;
            a,
            a:hover,
                a:focus{
                color:white;
                text-decoration:none;
            }
        }
        p {
            padding: 0px 20px 20px;
        }
        .slider-button {
            
            text-align:right;
            padding-right:20px;
            padding-bottom:10px;
            color:$purple;
            text-decoration:none;
            width:100%;
            display:inline-block;
            position:absolute;
            bottom:0px;
            font-weight:700;
                
            
            
        }
       
    }
    .flex-control-nav a {
        height:11px;
    }
    .flex-control-nav a.flex-active {
        box-shadow:0 11px rgba(0,0,0,.2) inset;
        border-radius:50%;
    }
    
}

.home-shop {
    
    .wrap {
        
        display:flex;
        justify-content: center;
        
        .widget {
         
            justify-content: center;
            padding:15px;
            
            img {
             
                border:5px solid #fff;
                transition: ease 0.2s all;
                
            }
            
            a:hover img,
                a:focus  img{
                    transform: scale(1.1);
            }
            
        }
        
    }
    
}

.home .content-sidebar-wrap {
    
    display:flex;
    max-width: 1200px;
    margin:20px auto;
    background-color:#ffffff;
}
.home-blog {
    margin:20px;
    
    
}
.home-sidebar {
    margin:20px;
    
    
}

.home-about {
    
    max-width: 1200px;
    margin:40px auto 20px;
    
    .textwidget {
        
        display:flex;
        align-items:center;
        
    }
    
    .abouttext {
        
        margin-left:30px;
        
        h4 {
            @include titlebar;
            margin-bottom:0px;
        }
        
        p {
            padding: 20px;
            background-color:#fff;
        }
        
    }
    
    img {
        
        max-width:250px;
        border-radius:50%;
        border:4px solid #fff;
        
    }
    
}

.home-optin {
    
    max-width: 1200px;
    margin:20px auto;
    
}