/* Site Footer
---------------------------------------------------------------------------------------------------- */

.site-footer {
	
        width: 100%;
        background-color:$green;
        
        .wrap {
            @include contain;
            font-size: 15px;
            font-size: 1.5rem;
            line-height: 1.5;
            padding: 30px;
            text-align: center;
            color:#ffffff;
        }
        
        p {
            margin-bottom: 0;
        }
        
        a {
            color:#ffffff;
            font-weight:700;
            
        }
}


/*--------------------------------------------------------------
## Footer Widgets
--------------------------------------------------------------*/
@import "footer-widgets";