/* Footer Menu
--------------------------------------------- */

.nav-footer {
	margin-top: 4px;
        flex:5;
}

.nav-footer .genesis-nav-menu {
	line-height: 1.5;
        text-align:left;
}

.nav-footer .menu-item {
	display: inline-block;
}

.nav-footer a {
	padding: 5px;
        line-height:100%;
        text-transform:uppercase;
        
        &:hover,
            &:focus {
            color:$purple;
        }
}