/* Footer Menu
--------------------------------------------- */

.nav-footer {
	margin-top: 10px;
        margin-bottom:20px;
}

.nav-footer .genesis-nav-menu {
	line-height: 1.5;
}

.nav-footer .menu-item {
	display: inline-block;
}
.nav-footer li + li {
    border-left:1px solid #fff;
}

.nav-footer a {
	margin-left: 15px;
	margin-right: 15px;
	padding: 5px 10px;
        line-height:100%;
        text-transform:uppercase;
}