/* Header Menu
--------------------------------------------- */

.nav-primary {
	clear: left;
	width: 100%;
        background-color:$green;
        color:#ffffff;
        
        #menu-header-menu {
            margin-top:10px;
            margin-bottom:10px;
        }
        
        a {
            color:#ffffff;
            text-transform:uppercase;
        }
        
        .menu-item-has-children a {
            border-bottom-left-radius:0px;
            border-bottom-right-radius:0px;
        }
}

@media only screen and (min-width: 960px) {
    
    /* Header Menu
	--------------------------------------------- */

	.nav-primary {
		clear: none;
		width: 100%;
	}

	.nav-primary .genesis-nav-menu a {
		padding-left: 15px;
		padding-right: 15px;
	}
    
}