/* Site Navigation
---------------------------------------------------------------------------------------------------- */

.genesis-nav-menu {
	clear: both;
	line-height: 1;
	width: 100%;
        text-align:center;
}

.genesis-nav-menu .menu-item {
	display: block;
	float: none;
	position: relative;
}

.genesis-nav-menu a {
	color: #333;
	display: block;
	font-size: 15px;
	font-size: 1.5rem;
	font-weight: 700;
	outline-offset: -1px;
	padding-bottom: 12px;
	padding-top: 12px;
	text-decoration: none;
        text-transform:uppercase;
}

.genesis-nav-menu a:focus,
.genesis-nav-menu a:hover,
.genesis-nav-menu .current-menu-item > a,
.genesis-nav-menu .sub-menu .current-menu-item > a:focus,
.genesis-nav-menu .sub-menu .current-menu-item > a:hover,
.genesis-nav-menu .sfHover a,
.genesis-nav-menu .sfHover a,{
	color: white;
	text-decoration: none;
        background-color:$purple;
        border-radius:4px;
}

.genesis-nav-menu .sub-menu,
.genesis-nav-menu .sub-menu a {
	width: 100%;
        border-radius:0px;
}

.genesis-nav-menu .sub-menu {
	clear: both;
	display: none;
	left: -9999px;
	margin: 0;
	opacity: 1;
	padding-left: 15px;
	position: static;
	z-index: 99;
}

.genesis-nav-menu .sub-menu li {
        width:100%;
        min-width:100px;
}

.genesis-nav-menu .sub-menu a {
	background-color: $purple;
	font-size: 14px;
	font-size: 1.4rem;
	position: relative;
	word-wrap: break-word;
        display:block;
}

.genesis-nav-menu .sub-menu .menu-item:hover a, .genesis-nav-menu .sub-menu .menu-item:focus a{
        text-decoration:underline;
}

.genesis-nav-menu .menu-item:focus,
.genesis-nav-menu .menu-item:hover {
	position: relative;
}

.genesis-nav-menu .menu-item:hover > .sub-menu {
	left: auto;
	opacity: 1;
}

@media only screen and (min-width: 960px) {
    
    /* Genesis Menu
	--------------------------------------------- */

	.genesis-nav-menu .menu-item {
		display: inline-block;
	}

	.genesis-nav-menu .menu-item:focus,
	.genesis-nav-menu .menu-item:hover {
		position: relative;
	}

	.genesis-nav-menu > .menu-bold > a {
		font-weight: 700;
	}

	.genesis-nav-menu > .menu-highlight > a {
		background-color: #333;
		border-radius: 3px;
		color: #fff;
		font-weight: 600;
		margin-left: 15px;
		padding-left: 20px;
		padding-right: 20px;
	}

	.genesis-nav-menu > .menu-highlight > a:hover,
	.genesis-nav-menu > .menu-highlight > a:focus {
		background-color: #0073e5;
	}

	.genesis-responsive-menu .genesis-nav-menu .sub-menu,
	.genesis-responsive-menu .genesis-nav-menu .sub-menu a {
		width: 180px;
	}

	.genesis-nav-menu .sub-menu {
		
		opacity: 1;
		padding-left: 0;
		position: absolute;
                min-width:100px;
		/*transition: all .2s ease;*/
	}

	.genesis-nav-menu .sub-menu a {
		border-top: 0;
		padding-bottom: 15px;
		padding-top: 15px;
	}

	.genesis-nav-menu .sub-menu .sub-menu {
		margin: -46px 0 0 179px;
	}
    
}

/*--------------------------------------------------------------
## Header Menu
--------------------------------------------------------------*/
@import "header-menu";

/*--------------------------------------------------------------
## Responsive Menu
--------------------------------------------------------------*/
@import "responsive-menu";

/*--------------------------------------------------------------
## Pagination
--------------------------------------------------------------*/
@import "pagination";

/*--------------------------------------------------------------
## Social Menu
--------------------------------------------------------------*/
@import "social-menu";

/*--------------------------------------------------------------
## Footer Menu
--------------------------------------------------------------*/
@import "footer-menu";