/* Social Menu
--------------------------------------------- */

.nav-social {
    min-width:150px;
    flex:1;
}
.nav-social a {
    padding:5px;
}
.nav-social .icon {
    width:1.5em;
    height:1.5em;
}