/* SVG Icons base styles */

.icon {
	display: inline-block;
	fill: currentColor;
	height: 1em;
	position: relative; /* Align more nicely with capital letters */
	top: -0.0625em;
	vertical-align: middle;
	width: 1em;
}

/*--------------------------------------------------------------
SVG Fallbacks
--------------------------------------------------------------*/

.svg-fallback {
	display: none;
}

.no-svg .svg-fallback {
	display: inline-block;
}

/* Social Menu fallbacks */

.no-svg .nav-social a {
	height: auto;
	width: auto;
}

.svg .nav-social li a span {
    display:none;
}
.no-svg .nav-social li a span {
	clip: auto;
	font-size: 16px!important;
	font-size: 1rem;
	font-weight: 400;
	height: auto;
	position: relative !important; /* overrides previous !important styles */
	width: auto;
}