.woocommerce .woocommerce-breadcrumb a {
    color:$purple;
    
    &:hover,
        &:focus {
        text-decoration:underline;
        color:$purple;
    }
}
.woocommerce ul.products li.product .price {
    color:$green!important;
}


/*------------------------------------------------------------------------------
# Product Archives
------------------------------------------------------------------------------*/
@import "archive";

/*------------------------------------------------------------------------------
# Single Products
------------------------------------------------------------------------------*/
@import "product";

/*------------------------------------------------------------------------------
# Shop Sidebar
------------------------------------------------------------------------------*/
@import "sidebar";

/*------------------------------------------------------------------------------
# Woocommerce Cart
------------------------------------------------------------------------------*/
@import "cart";

/*------------------------------------------------------------------------------
# Woocommerce Checkout
------------------------------------------------------------------------------*/
@import "checkout";